@import "vars";
@import "fonts";

html {
	font-size: 15px;	
}


body {
	padding: 1rem;
    margin: 0 !important;

	font-family: 'Roboto', Arial, sans-serif;
	font-weight: normal;

	position: relative;
}

*,
*:before,
*:after {
    box-sizing: border-box;
	transition: all 0.2s ease;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.2;
}

p {
    margin: 0;
}

main {
	width: 100%;
	padding: 20px;

	@media(min-width: $desktop) {
		padding: 40px;
    }

	@media(min-width: $desktopLg) {
		max-width: 1920px;
		width: 100%;
		margin: 0 auto;

    }
}

button, 
input {
	font: inherit;	
}


.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
}



  .hide {
	  display: none !important;
  }
  




